
<h1  align="center">Listado de Ciudades</h1>
<div class="container">
        <div class="row">
            <div class="col">imagen</div>
            <div class="col">Ciudad 1 </div>
            <div class="col" > <a class="btn  btn-outline-primary"> Agregar</a></div>
        </div>
        <div class="row">
            <div class="col">imagen</div>
            <div class="col">Ciudad 2 </div>
            <div class="col" > <a class="btn  btn-outline-primary"> Agregar</a></div>
        </div>
        <div class="row">
            <div class="col">imagen</div>
            <div class="col">Ciudad 3 </div>
            <div class="col" > <a class="btn  btn-outline-primary"> Agregar</a></div>
        </div>
</div>
<h3>La ruta es :  [RUTA ]</h3>
  
    