<h1  align="center" ><font color="white">Listado de Ciudades</font></h1>
<div class="container">
    <div class="row">
       <ng-container *ngFor="let city of citiesList">
           <ng-template [ngIf]="city.cityId  != '0'">
                <div class="col-md-4">
                    <div class="card text-center">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{city.imrUrl}}" >
                    <div class="card-body">
                        <h2 class="card-title">{{city.name}}</h2>
                        

                        <div *ngIf="city.show==false; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock><a  class="btn  btn-outline-primary" (click)="addCity(city)">Agregar</a></ng-template>
                        <ng-template #elseBlock><p > <font color="green"><b> Ciudad Agregada</b></font></p></ng-template>
                       
                    </div>
                    </div>
                   <br>
                    <div class="card mb-4 shadow-sm"></div>
                </div>
            </ng-template>
       </ng-container>
</div>


<div class="calcular"> 
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th  colspan ="2" scope="col">Ciudad</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cityAdd of listAdd">
            <td>{{ cityAdd.name }}</td>
            <td> <a  class="btn  btn-outline-warning" (click)="removeCity(cityAdd)">Quitar</a></td>
          </tr> 
          <tr>
              <td colspan="2"><a *ngIf="listAdd.length > 0" class="btn btn-success"(click)="calcular()">Calcular </a>
            </td>
          </tr>                 
        </tbody>
      </table>  
</div>
<div *ngIf="bestRoute.length>0">

  <p *ngFor="let rout of bestRoute">{{rout}} --></p>
   <h1>Total KM : {{totalKm}}</h1>
</div>
