<nav class="navbar navbar-dark bg-dark">
 <h3 ><font color="white">[Nombre de la app]</font></h3>
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page"[routerLink]="['/home']" routerLinkActive="active">Home</a>
  </li>
 </ul>
</nav>


<router-outlet></router-outlet>

<footer class="page-footer font-small special-color-dark pt-4">
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <p><b>[Nombre de la app]</b></p>
  </div>
</footer>
