<div class="wrapper">
<h1>Acerca de nosotros </h1>
<h3>Viajes Utn es una app que brinda una serie determinada de destinos dentro de nuestro país cuyos clientes pueden elegir para visitar en su próximo viaje con la empresa. Estos destinos son:</h3>
  <ul>
    <li> Carlos Paz</li>
   <li> San  de Bariloche </li>
   <li> Ciudad de Mendoza </li>
   <li> Ushuaia </li>
   <li> Salta </li>
   <li> San Salvador de Jujuy </li>
   <li> Neuquén </li>
   <li> San Luis </li> 
   <li> Rosario </li>
   <li> San Juan </li></ul>

<h2>Integrantes</h2>
<ol>
    <li type="disc">Bertuccio Nicolás</li>
    <li type="disc">Burgués Schaab Juan Manuel</li>
    <li type="disc">Fullone Lautaro</li>
    <li type="disc">Viñas Federico</li>
</ol>
</div>